body{
    background-image:url(./image/back.jpg);
}
.container
{
    background-color: rgb(245, 245, 245);
    margin-left:350px;
    margin-right:350px;
}
h1{
    text-align: center;
}
th,td{
    padding:10px;
}
